<div class="container">
    <span class="footer-logo">KIKO NAVARRO</span>
    <nav class="footer-nav">
        <a href="discography.html" class="nav-link">Music</a>
        <a href="remixes.html" class="nav-link">Remixes</a>
        <a href="dj-sets.html" class="nav-link">DJ Sets</a>
        <a href="upcoming-shows.html" class="nav-link">Shows</a>
        <a href="bio.html" class="nav-link">Bio</a>
    </nav>
    <div class="footer-copy">
        &copy; 2024 KIKO NAVARRO. ALL RIGHTS RESERVED. <br>
        MANAGEMENT: <a href="mailto:fred@warungagency.com"
            style="color: inherit; text-decoration: none;">FRED@WARUNGAGENCY.COM</a>
    </div>
</div>