<div class="nav-container">
    <div class="nav-logo">
        <a href="index.html">KIKO NAVARRO</a>
    </div>

    <div class="hamburger" id="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>

    <ul class="nav-list" id="nav-list">
        <li><a href="discography.html" class="nav-link">Music</a></li>
        <li><a href="dj-sets.html" class="nav-link">DJ Sets</a></li>
        <li><a href="upcoming-shows.html" class="nav-link">Tour Dates</a></li>
        <li><a href="bio.html" class="nav-link">Bio</a></li>
        <li><a href="afroterraneo.html" class="nav-link">Afroterraneo</a></li>
        <li><a href="slowlyband.html" class="nav-link">Slowly Band</a></li>
        <li><a href="press-pictures.html" class="nav-link">Press Pictures</a></li>
        <li><a href="mailto:fred@warungagency.com" class="nav-link">Bookings</a></li>
    </ul>
</div>